<div>
    <form>
        <div class="form-group">
            <label for="homeTeam">Local</label>

            <select [(ngModel)]="match.homeTeam" name="homeTeam">
                <option *ngFor="let team of teams" [value]="team.id" [selected]="match.homeTeam.id == team.id">
                    {{team.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="awayTeam">Visitante</label>

            <select [(ngModel)]="match.awayTeam" name="awayTeam">
                <option *ngFor="let team of teams" [value]="team.id" [selected]="match.awayTeam.id == team.id">
                    {{team.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="homeScore">Resultado Local</label>
            <input [(ngModel)]="match.homeScore" name="homeScore" type="text" class="form-control" id="homeScore" />
        </div>

        <div class="form-group">
            <label for="awayScore">Resultado Visitante</label>
            <input [(ngModel)]="match.awayScore" name="awayScore" type="text" class="form-control" id="awayScore" />
        </div>

        <button type="submit" class="btn btn-primary" (click)="save()">Guardar</button>
    </form>
</div>