<button class="btn btn-back" [routerLink]="['/futbol/competition/',competitionId,'group', groupId,'matches']">
    <img src="../../../assets/left_arrow_icon.png">
</button>

<div class="div-form col-md-6 offset-md-3">
    <form>

        <h1 class="h1-cat text-center">Mi Partido</h1>

        <!--homeTeam-->
        <div class="col-md-12">
            <div class="row form-group">
                <label class="lab col-md-4 col-4 text-center" for="team">Local</label>
                <select [(ngModel)]="homeTeamId" name="team" class="col-md-4 col-8">
                    <option *ngFor="let item of teamScoreSheets" [value]="item.scoreSheetId">
                        {{item.teamName}} / {{item.groupName}}
                    </option>
                </select>
            </div>
        </div>

        <!--awayTeam-->
        <div class="col-md-12">
            <div class="row form-group">
                <label class="lab col-md-4 col-4 text-center" for="team">Visitante</label>
                <select [(ngModel)]="awayTeamId" name="team" class="col-md-4 col-8">
                    <option *ngFor="let item of teamScoreSheets" [value]="item.scoreSheetId">
                        {{item.teamName}} / {{item.groupName}}
                    </option>
                </select>
            </div>
        </div>
        <!--resultado-->
        <div class="form-group row">
            <label class="lab col-md-4 col-4 text-center" for="homeScore">Goles Local</label>
            <input [(ngModel)]="match.homeScore" name="homeScore" type="text" class="form-control text-center col-md-1 col-4 "
                id="homeScore" />
        </div>
        <div class="form-group row">
            <label class="lab col-md-4 col-4 text-center" for="awayScore">Goles Visitante</label>
            <input [(ngModel)]="match.awayScore" name="awayScore" type="text" class="form-control text-center col-md-1 col-4 "
                id="awayScore" />
        </div>
        <!--cancha-->
        <div class="row form-group">
            <label class="lab col-md-4 col-4 text-center" for="pitch">cancha</label>
            <input [(ngModel)]="match.pitch" name="pitch" type="text" class="form-control col-md-4 col-4 " id="pitch" />
        </div>

        <!--Match Status

        <div class="row form-group">
            <label class="lab col-md-4 col-4 text-center" for="team">Estado</label>
            <select [(ngModel)]="match.matchStatus" name="team" class="col-md-4 col-4">
                <option *ngFor="let key of keys; index as i" [value]="i+1" [label]="matchStatus[key]"></option>
            </select>
        </div>-->
        
        <button type="submit" class="btn btn-save btn-block" (click)="save()">Guardar</button>
    </form>
</div>


<style>
    .div-form {
        color: #ffffff;
        background-color: #86c038ff;
        font-family: 'poppins', sans-serif;
        padding-bottom: 30px;
    }

    .btn-save {
        background-color: #ffffff;
        color: #86c038ff;
        margin-top: 30px;
    }

    .h1-cat {
        margin-bottom: 30px;
    }
</style>