<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body text-center">
            <form>
                <!-- inputs del formulario de carga equipos-->
                <!-- [(ngModel)]="team.name" es la implementacion de data binding
                ya que le dice al objeto team de nuestro team-form.cotroler 
                que el imput pertenece a las atributos especificados-->
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="team.name" placeholder="Name" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="desciption" [(ngModel)]="team.desciption" placeholder="Desciption" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="img" [(ngModel)]="team.img" placeholder="Image" class="form-control" autofocus>
                </div>
                <!--cuando ago click ejecuta el metodo save, tambien valida si se esta guardando o se esta actualizando un valor-->
                <button class="btn-success btn-block"  (click)="edit ?  updateTeam() : saveNewTeam()">
                    SAVE
                </button>
            </form>
        </div>
    </div>
</div>
<!--visualizacion de la creacion del objeto team-->
<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="team.img == '' ? '/assets/noImg.png' : team.img" class="card-img-top">
        <h3>
            {{team.name == '' ?  'team name' : team.name}}
        </h3>
        <p>{{team.description == '' ? 'team description' : team.description }}</p>
    </div>
</div>