<div class="container">

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">team_id</th>
      <th scope="col">#</th>
      <th scope="col">position</th>
      <th scope="col">points</th>
    </tr>
  </thead>
  <tbody *ngFor="let team of teams">
    <tr>
      <th scope="row">{{team.team_id}}</th>
      <th scope="row">{{team.name}}</th>
      <th scope="row">position</th>
      <th scope="row">points</th>
    </tr>
  </tbody>
</table>
<!--añadir ur equipo-->
<button type="button" class="btn btn-primary btn-lg btn-block">

  <!--formulario-->
  <form>
    <div class="form-group">
      <input type="text" name="name" [(ngModel)]="team.name" placeholder="Name" class="form-control" autofocus>
    </div>
    <div class="form-group">
      <textarea name="desciption" [(ngModel)]="team.desciption" placeholder="Desciption" rows="3"
        class="form-control"></textarea>
    </div>
    <button class="btn-success btn-block" (click)="edit ?  updateTeam() : saveNewTeam()">
      SAVE
    </button>
  </form>
  <div class="dropdown-divider"></div>

</button>

</div>

