<div class="col-md-12 col-sm-12 page-container">
    <h2 class="h2-title col-md-12">Categorias</h2>
    <div class="row col-md-12 card-row" *ngFor="let competition of competitions">

        <div [ngClass]="hasAdminPermission() ? 'card col-md-6 offset-md-2' : 'card col-md-8 offset-md-2'" >
            <a [routerLink]="['/futbol/competition', competition?.id, 'groups']">
                {{competition ? competition?.name : "Presione agregar..."}}
            </a>
        </div>
        <div class="col-md-1" *ngIf="hasAdminPermission() && !isMenuOpened()" (click)="optionsClick()">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        
        <div id="actions" class="card col-md-2 row" *ngIf="hasAdminPermission() && isMenuOpened()">

            <div class="col-md-4" data-toggle="modal" data-target="#createCompetition" (click)="editCompetition(competition)">
                <i class="fas fa-edit"></i>
            </div>
            <div class="col-md-4" data-toggle="modal" data-target="#deleteCompetition" (click)="deleteCompetition(competition)">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>

        <!--final div-->
    </div>

    <div *ngIf="hasAdminPermission()">
        <button *ngIf="hasAdminPermission()" class="btn-add-team btn col-md-4 offset-md-4 col-sm-12" data-toggle="modal" data-target="#createTeam">
            Agregar Equipo
        </button>
    </div>

    <button *ngIf="hasAdminPermission()" class="btn_add col-md-4 offset-md-4 fixed-bottom" data-toggle="modal"
            data-target="#createCompetition" (click)="createCompetition()">
        <img src="../../../assets/btn_add.png">
    </button>
</div>

<!--Create Competition-->
<div class="modal fade" id="createCompetition" tabindex="-1" role="dialog" aria-labelledby="createCompetitionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="createCompetitionLabel">{{ competition.id ? "EDITAR CATEGORIO" : "AGREGAR CATEGORIA" }}</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="competition-name" class="col-form-label">Nombre</label>
                        <input [(ngModel)]="competition.name" name="name" type="text" class="form-control" id="competition-name"
                            placeholder="Ingrese un nombre">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Descripción:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn col-md-4 mr-auto" style="color: white" data-dismiss="modal">
                    CANCELAR
                </button>
                <button type="button" class="btn btn-light col-md-4" style="color: #86c038ff" (click)="saveCompetition()" data-dismiss="modal">
                    ACEPTAR
                </button>
            </div>
        </div>
    </div>
</div>

<!--Create Team-->
<div class="modal fade" id="createTeam" tabindex="-1" role="dialog" aria-labelledby="createTeamLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="createTeamLabel">AGREGAR EQUIPO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="competition-name" class="col-form-label">Nombre</label>
                        <input [(ngModel)]="team.name" name="name" type="text" class="form-control" id="competition-name"
                            placeholder="Ingrese un nombre">
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Descripción:</label>
                        <textarea [(ngModel)]="team.description" name="description" class="form-control"
                            id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" style="color: white"  class="btn col-md-4 mr-auto" data-dismiss="modal">
                    CANCELAR
                </button>
                <button type="button" style="color: #86c038ff" class="btn btn-light col-md-4" (click)="saveTeam()" data-dismiss="modal">
                    ACEPTAR
                </button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="deleteModalLabel">Eliminar
                    Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta seguro de eliminar esta competencia?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-md-4 mr-auto"
                    data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger col-md-4" (click)="delete(competition.id)"
                    data-dismiss="modal">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
