<div class="col-md-12 col-sm-12 page-container">
    <h2 class="h2-title col-md-12">Categorias</h2>
    <div class="row col-md-12 card-row" *ngFor="let competition of competitions">

        <div class="card col-md-8 offset-md-2 col-8 offset-2">
            <a [routerLink]="['/futbol/competition', competition?.id, 'groups']">
                {{competition ? competition?.name : "Presione agregar..."}}
            </a>
        </div>

        <div class="col-md-1" *ngIf="hasAdminPermission() && !isMenuOpened()" (click)="optionsClick()">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <!--modal-->
        <div id="actions" class="card-modal col-md-2 col-2 row" *ngIf="hasAdminPermission() && isMenuOpened()">
            <div class="col-md-6" data-toggle="modal" data-target="#createCompetition"
                (click)="editCompetition(competition)">
                <i class="fas fa-edit btn-edit"></i>
            </div>
            <div class="col-md-6" data-toggle="modal" data-target="#deleteCompetition"
                (click)="deleteCompetition(competition)">
                <i class="fas fa-trash-alt btn-delete"></i>
            </div>
        </div>
        <!--modal-->
    </div>

    <div *ngIf="hasAdminPermission()">
        <button class="btn-add-team btn col-md-4 offset-md-4 col-sm-12" data-toggle="modal" data-target="#createTeam">
            Agregar Equipo
        </button>
    </div>
    <div>
        <button class="btn-team btn col-md-4 offset-md-4 col-sm-12" data-toggle="modal" data-target="#WatchTeam"
            (click)="getTeams()">
            Ver Equipos
        </button>
    </div>

    <button *ngIf="hasAdminPermission()" class="btn_add_category col-md-4 offset-md-4 fixed-bottom" data-toggle="modal"
        data-target="#createCompetition" (click)="createCompetition()">
        <img src="../../../assets/btn_add.png">
    </button>
</div>

<!--List of Teams-->
<div class="modal fade" id="WatchTeam" tabindex="-1" role="dialog" aria-labelledby="WatchTeamLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="WatchTeamLabel">Mis Equipos</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div *ngFor="let team of teams">
                        <p>{{team.name}}</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accept btn-light btn-block" data-dismiss="modal">
                    ACEPTAR
                </button>
            </div>
        </div>
    </div>
</div>

<!--Create Competition-->
<div class="modal fade" id="createCompetition" tabindex="-1" role="dialog" aria-labelledby="createCompetitionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="createCompetitionLabel">
                    {{ competition.id ? "EDITAR CATEGORIA" : "AGREGAR CATEGORIA" }}</h5>
            </div>
            <!--validation-->
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()" #competitionForm="ngForm">
                    <div class="form-group">
                        <label for="competition-name" class="col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="competition-name" required
                            [(ngModel)]="competition.name" name="name" placeholder="Ingrese un nombre" #name="ngModel">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            se requiere un nombre
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Descripción:</label>
                        <textarea [(ngModel)]="competition.description" name="description" class="form-control"
                            id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <!--validation-->
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel col-md-4 mr-auto" data-dismiss="modal">
                    CANCELAR
                </button>
                <button type="submit" class="btn btn-accept btn-light col-md-4"
                    (click)="saveCompetition()"
                    data-dismiss="modal">
                    ACEPTAR
                </button>
            </div>
        </div>
    </div>
</div>

<!--Create Team-->
<div class="modal fade" id="createTeam" tabindex="-1" role="dialog" aria-labelledby="createTeamLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="createTeamLabel">AGREGAR EQUIPO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #teamForm="ngForm">
                    <div class="form-group">
                        <label for="team-name" class="col-form-label">Nombre</label>
                        <input [(ngModel)]="team.name" name="name" type="text" class="form-control" id="team-name"
                            placeholder="Ingrese un nombre">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Descripción:</label>
                        <textarea [(ngModel)]="team.description" name="description" class="form-control"
                            id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel col-md-4 mr-auto" data-dismiss="modal"
                    (click)="CleanTeamModal()">
                    CANCELAR
                </button>
                <button type="button" class="btn btn-accept btn-light col-md-4" (click)="saveTeam(); teamForm.reset()"
                    data-dismiss="modal">
                    ACEPTAR
                </button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteCompetition" tabindex="-1" role="dialog" aria-labelledby="deleteCompetitionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="deleteCompetitionLabel">
                    Eliminar Categoria
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta seguro de eliminar esta categoria?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel col-md-4 mr-auto" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger col-md-4" (click)="delete(competition.id)"
                    data-dismiss="modal">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>