<button class="btn btn-back" routerLink="/futbol/competition">
    <img src="../../../assets/left_arrow_icon.png">
</button>

<div class="col-12 accordion" id="accordionFilter">
    <div class="row card">
        <div class="card-header row" id="gruposId">
            <h2 class="col-md-10">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Grupos
                </button>
            </h2>
            <button *ngIf="hasAdminPermission()" class="btn btn-sm" style="position:absolute; right: 20px;"
                data-toggle="modal" data-target="#createGroup" (click)="createGroup('1')">
                <img src="../../../assets/plus_icon.png">
            </button>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="gruposId" data-parent="#accordionFilter">
            <div class="row card-body">
                <div class="col-md-6 col-s-12" *ngFor="let group of getGroupsByStage('1')">

                    <div class="div-table">
                        <!--Added-->
                        <div class="row col-md-12">
                            <div class="col-md-8">
                                <h3 class="group-name text-center">{{group?.name}}</h3>
                            </div>
                            <div class="col-md-2">
                                <button [routerLink]="['/futbol/competition/',competition.id,'group', group.id, 'edit']" class="btn btn-edit btn-block">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-block btn-delete" data-toggle="modal" data-target="#deleteModal"
                                    (click)="deleteGroup(group)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        
                        <table class="table">
                            <thead>
                                <tr class=table-header>
                                    <th scope="col" title="Nombre de equipo">Equipo</th>
                                    <th scope="col" title="Puntos">PT</th>
                                    <th scope="col" title="Goles a favor">GF</th>
                                    <th scope="col" title="Goles en contra">GC</th>
                                    <th scope="col" title="Diferencia de gol">DG</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let score of group.scoreSheets;">
                                <th scope="row">{{score.team?.name}}</th>
                                <td>{{score.points}}</td>
                                <td>{{score.goalFavor}}</td>
                                <td>{{score.goalAgainst}}</td>
                                <td>{{score.goalDifference}}</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="row col-md-12 btn-fixture center-block">
                        <div class="col-md-6 col-s-12">
                            <button [routerLink]="['/futbol/competition/',competition.id,'group', group.id,'matches']" class="btn btn-success btn-block">
                                Fixture
                            </button>
                        </div>
                        <div *ngIf="group.id > 0" class="col-md-6 col-s-12">
                            <button class="btn btn-outline-success btn-block" (click)="finishGroup(group)">
                                Finalizar
                            </button>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Collapse de Copa Oro-->
    <div class="row card">
        <div class="card-header row" id="oroId">
            <h2 class="col-md-12">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    Copa Oro
                </button>
            </h2>
            <button *ngIf="hasAdminPermission()" class="btn btn-sm" style="position:absolute; right: 20px;"
                data-toggle="modal" data-target="#createGroup" (click)="createGroup('2')">
                <img src="../../../assets/plus_icon.png">
            </button>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="oroId" data-parent="#accordionFilter">
            <div class="row card-body">
                <div class="col-md-6 col-s-12" *ngFor="let group of getGroupsByStage('2')">

                    <div class="div-table">
                        <!--Added-->
                        <div class="col-md-12 row">
                            <div class="col-md-8">
                                <h3 class="group-name text-center">{{group?.name}}</h3>
                            </div>
                            <div class="col-md-2">
                                <button [routerLink]="['/futbol/competition/',competition.id,'group', group.id, 'edit']" class="btn btn-edit">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-delete" data-toggle="modal" data-target="#deleteModal">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        
                        <table class="table">
                            <thead>
                                <tr class=table-header>
                                    <th scope="col" title="Nombre de equipo">Equipo</th>
                                    <th scope="col" title="Puntos">PT</th>
                                    <th scope="col" title="Goles a favor">GF</th>
                                    <th scope="col" title="Goles en contra">GC</th>
                                    <th scope="col" title="Diferencia de gol">DG</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let score of group.scoreSheets;">
                                <th scope="row">{{score.team?.name}}</th>
                                <td>{{score.points}}</td>
                                <td>{{score.goalFavor}}</td>
                                <td>{{score.goalAgainst}}</td>
                                <td>{{score.goalDifference}}</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="row col-md-12 btn-fixture center-block">
                        <div class="col-md-6 col-s-12">
                            <button [routerLink]="['/futbol/competition/',competition.id,'group', group.id,'matches']" class="btn btn-success btn-block">
                                Fixture
                            </button>
                        </div>
                        <div *ngIf="group.id > 0" class="col-md-6 col-s-12">
                            <button class="btn btn-outline-success btn-block" (click)="finishGroup(group)">
                                Finalizar
                            </button>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Collapse de Copa Plata-->
    <div class="row card">
        <div class="card-header row" id="plataId">
            <h2 class="col-md-12">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    Copa Plata
                </button>
            </h2>
            <button *ngIf="hasAdminPermission()" class="btn btn-sm" style="position:absolute; right: 20px;"
                data-toggle="modal" data-target="#createGroup" (click)="createGroup('3')">
                <img src="../../../assets/plus_icon.png">
            </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="plataId" data-parent="#accordionFilter">
            <div class="row card-body">
                <div class="col-md-6 col-s-12" *ngFor="let group of getGroupsByStage('3')">

                    <div class="div-table">
                        <!--Added-->
                        <div class="row col-md-12">
                            <div class="col-md-8">
                                <h3 class="group-name text-center">{{group?.name}}</h3>
                            </div>
                            <div class="col-md-2">
                                <button [routerLink]="['/futbol/competition/',competition.id,'group', group.id, 'edit']" class="btn btn-edit btn-block">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-block btn-delete" data-toggle="modal" data-target="#deleteModal">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        
                        <table class="table">
                            <thead>
                                <tr class=table-header>
                                    <th scope="col" title="Nombre de equipo">Equipo</th>
                                    <th scope="col" title="Puntos">PT</th>
                                    <th scope="col" title="Goles a favor">GF</th>
                                    <th scope="col" title="Goles en contra">GC</th>
                                    <th scope="col" title="Diferencia de gol">DG</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let score of group.scoreSheets;">
                                <th scope="row">{{score.team?.name}}</th>
                                <td>{{score.points}}</td>
                                <td>{{score.goalFavor}}</td>
                                <td>{{score.goalAgainst}}</td>
                                <td>{{score.goalDifference}}</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="row col-md-12 btn-fixture center-block">
                        <div class="col-md-6 col-s-12">
                            <button [routerLink]="['/futbol/competition/',competition.id,'group', group.id,'matches']" class="btn btn-success btn-block">
                                Fixture
                            </button>
                        </div>
                        <div *ngIf="group.id > 0" class="col-md-6 col-s-12">
                            <button class="btn btn-outline-success btn-block" (click)="finishGroup(group)">
                                Finalizar
                            </button>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Create Group-->
<div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="createGroupLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="createGroupLabel">
                    {{ group.id ? "EDITAR GRUPO" : "AGREGAR GRUPO" }}</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="competition-name" class="col-form-label">Nombre:</label>
                        <input [(ngModel)]="group.name" name="name" type="text" class="form-control"
                            id="competition-name" placeholder="Ingrese un nombre">
                    </div>

                    <div class="col-md-12">
                        <div class="row form-group">
                            <label class="lab col-md-4 col-4 text-center" for="team">Equipo</label>
                            <select [(ngModel)]="currentTeamId" name="team" class="col-md-4 col-4">
                                <option *ngFor="let team of teams" [value]="team.id">
                                    {{team?.name}}
                                </option>
                            </select>
                            <button type="button" class="col-md-4 col-4 btn btn-sm btn-secondary" (click)="addTeam()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <!--team-->
                    <div class="offset-md-2 col-md-8">
                        <table class="table table-borderless text-left">
                            <thead>
                                <tr>
                                    <th scope="col">Equipos:</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let score of group.scoreSheets">
                                <th scope="row"><i class="fas fa-asterisk"></i> {{score?.team?.name}}
                                    <button class="btn" (click)="removeTeam(score.id)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </th>
                            </tbody>
                        </table>
                    </div>
                    <!--team-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel col-md-4 mr-auto" data-dismiss="modal"
                    (click)="cleanModal()">
                    CANCELAR
                </button>
                <button type="button" class="btn btn-accept btn-light col-md-4" (click)="saveGroup()"
                    data-dismiss="modal">
                    ACEPTAR
                </button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-md-8 offset-md-2" id="deleteModalLabel">
                    Eliminar Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta seguro de eliminar este grupo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-md-4 mr-auto"
                    data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-danger col-md-4 "
                    (click)="delete(group.id)" data-dismiss="modal">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
