.card{
    border-color: black;
    background-color:  #caefb3;
    border: none;
}

.card-body {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.card-header{
    background-color:   #86c038ff;
    border-bottom: solid;
}

.card-header .btn{
    color:  #fff;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.btn-edit {
    color: seagreen;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.btn-delete {
    color: red;
    font-family: 'poppins', sans-serif;
}

.btn-fixture {
    margin-top: 0px;
}

/*Table scores*/
.table-header {
    background-color: teal;
    color: azure;
}

.div-table {
    margin-top: 8px;
    /*background-color: rgb(127, 199, 132);*/
    background-color: rgba(255,255,255,0.5);
}

.table{
    color: black;
}

.group-name{
    padding-top: 5px;
    color: black;
    margin-bottom: 8px;
}

/*Modal CSS*/
.modal-content{
    background-color: #86c038ff;
}

.modal-body{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-body table{
    color: #ffffff;
}

.modal-header{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    border: none;
}

.modal-footer{
    border: none;
}

.btn-cancel{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    border: none;
}

.btn-accept{
    font-family: 'poppins', sans-serif;
    border: none;
    color:  #86c038ff;
}
