/*.content-table {
    border-collapse: collapse;
    text-align: center;
    margin: 0px;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
    background-color: rgb(37, 134, 179);
    font-weight: bold;
    color: #ffffff;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type{
    background-color: rgb(37, 134, 179);
}*/

.card{
    border-color: black;
}

.card-body a{
    text-decoration: none;
    background-color:  rgb(0, 156, 11);
    color:  rgb(37, 134, 179);
    font-family: 'poppins', sans-serif;
}
.card-header{
    background-color:  rgb(0, 156, 11);
}
.card-header .btn{
    color:  #fff;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.btn-edit a, .btn-delete{
    color: #fff;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    background-color: rgb(37, 134, 179);
}

/*Modal CSS*/
.modal-content{
    background-color: rgb(0, 156, 11);
}

.modal-body{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-header{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    border: none;
}
.modal-footer{
    border: none;
}