<div class="col-12" *ngFor="let match of group?.matches">
  <div class="col-md-4 card text-center">
    <div class="card-header">
      Partido
    </div>
    <div class="row card-body">
      <p class="col-3 card-text">{{match.homeTeam.name}}</p>
      <p class="col-3 card-text">{{match.homeScore}}</p>
      <p class="col-3 card-text">{{match.awayScore}}</p>
      <p class="col-3 card-text">{{match.awayTeam.name}}</p>
      </div>
  </div>
</div>



<div *ngIf="valor" class="default-div offset-md-2 col-md-8">
  <p class="default-msj col-md-4 offset-md-4 text-center">no hay partidos disponibles</p>
</div>

<button class="offset-md-3 col-md-6 btn btn-add btn-success" [routerLink]="['/futbol/competition/', group?.competitionId, 'group', group?.id, 'add','match']">
  Agregar Partido
</button>

<style>
.btn-add{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
}
.default-msj{
  color: #ffffff;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
}
</style>