<button class="btn btn-back ml-auto" [routerLink]="['/futbol/competition',competitionId, 'groups']">
  <img src="../../../assets/left_arrow_icon.png">
</button>


<div class="col-12" *ngFor="let match of group?.matches">
  <div class="col-md-4 card text-center">
    <div class="card-header">
      Partido
    </div>
    <div class="row card-body">
      <p class="col-3 card-text">{{match.homeTeam.name}}</p>
      <p class="col-3 card-text">{{match.homeScore}}</p>
      <p class="col-3 card-text">{{match.awayScore}}</p>
      <p class="col-3 card-text">{{match.awayTeam.name}}</p>
      </div>
  </div>
</div>

<button class="offset-md-3 col-md-6 btn btn-add btn-success" [routerLink]="['/futbol/competition/', competitionId, 'group', group?.id,'matches','add']">
  Agregar Partido
</button>





<style>
.btn-add{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
}
.default-msj{
  color: #ffffff;
  font-size: 18px;
  font-family: 'poppins', sans-serif;
}
</style>