<button class="btn btn-back" [routerLink]="['/losmorenitos/competition',competitionId, 'groups']">
  <img src="../../../assets/left_arrow_icon.png">
</button>

<div class="div-form col-md-6 offset-md-3">
  <form>
    <h1 class="h1-cat">Editar Grupo</h1>
    <!--
    <div class="form-group">
      <label class="lab" for="groupName">Nombre:</label>
      <input [(ngModel)]="group.name" name="name" type="text" class="form-control" id="groupName"
        placeholder="Ingrese un nombre" />
    </div>-->
    <!--OPTION NAME-->
    <div class="row form-group">
      <label class="lab col-md-4 col-4 text-center" for="name">Nombre:</label>
      <select [(ngModel)]="group.name" name="name" class="col-md-4 col-4">
        <option *ngFor="let key of keys; index as i" [value]="i" [label]="groupName[key]">

        </option>
      </select>
    </div>
    <!--OPTION NAME-->
    
    <div class="col-md-12">
      <div class="row form-group">
        <label class="lab col-md-4 col-4 text-center" for="team">Equipo:</label>
        <select [(ngModel)]="currentTeamId" name="team" class="col-md-4 col-4">
          <option *ngFor="let team of teams" [value]="team.id">
            {{team.name}}
          </option>
        </select>
        <button type="button" class="col-md-4 col-4 btn btn-sm btn-secondary" (click)="addTeam()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>

    <!--team-->
    <div class="offset-md-2 col-md-8">
      <table class="table table-borderless text-left">
        <thead>
          <tr>
            <th scope="col">Equipos:</th>
          </tr>
        </thead>
        <tbody *ngFor="let score of group.scoreSheets">
          <th scope="row"><i class="fas fa-asterisk"></i> {{score.team.name}}
            <button class="btn" (click)="removeTeam(score.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </th>
        </tbody>
      </table>
    </div>
    <!--team-->

    <button type="submit" class="btn btn-save btn-block" (click)="updateGroup()">Guardar</button>
  </form>
</div>