
<form class="loginbox col-md-6 offset-md-3 col-sl-4 offset-sl-4">
    <div class="row">
        <img class="col-4 offset-4" src="../../../assets/user_icon_128px.png" alt="">
    </div>
    <h1 class="col-4 offset-4">Login</h1>
    <div class="form-group">
        <label for="formEmail">Email</label>
        <input name="formEmail" [(ngModel)]="user.email" type="email" class="form-control" id="formEmail"
            aria-describedby="emailHelp" placeholder="micorreo@correo.com">
    </div>

    <div class="form-group">
        <label for="formPassword">Password</label>
        <input [(ngModel)]="user.password" name="formPassword" type="password" class="form-control" 
        id="formPassword" placeholder="**********">
    </div>

    <button type="submit" class="btn btn-block btn-login" (click)="login()">
        Ingresar
    </button>
</form>
