<div class="publicity col-md-12">
    <div class="div-header">
        <h2 class="p-title offset-md-2 col-md-8 text-center">3° EDICIÓN - LOS MORENITOS - 15 DE MARZO 2020</h2>
        <P class="offset-1"><i class="fas fa-map-marker-alt"></i> La Capital. Ruta 12 y Dorrego, Paraná, Entre Rios</P>

        <div class="offset-1">
            <p class="simple-text">CATEGORIA 2008: 11 jugadores y 5 suplentes</p>
            <p class="simple-text">CATEGORIA 2009: 9 jugadores y 6 suplentes</p>
            <p class="simple-text">CATEGORIA 2014: 9 jugadores y 6 suplentes - MODO ENCUENTRO</p>
        </div>
    </div>

    <div class="div-body text-center">
        <div class="row">
            <p class="offset-md-2 col-md-4 col-6"><i class="fas fa-futbol"></i> Mas de 100 equipos</p>
            <p class="col-md-4 col-6 "><i class="fas fa-futbol"></i> Trofeos para todos</p>
        </div>
        <div class="row">
            <p class="offset-md-2 col-md-4 col-6 "><i class="fas fa-futbol"></i> 14 campos de juego</p>
            <p class="col-md-4 col-6 "><i class="fas fa-futbol"></i> 4 partidos minimo</p>
        </div>
        <div>
            <p class="col-md-8 offset-md-2">Trofeos grupales para el primer y segundo puesto</p>
            <p class="col-md-8 offset-md-2">Ambulancia presente</p>
            <p class="col-md-8 offset-md-2">Cantina y estacionamiento privado</p>
        </div>
    </div>

    <div class="ausp">
        <img class="img col-md-2 col-6" src="../../../assets/Auspiciantes/Fondo oscuro/aguanuestra.png">
        <img class="img col-md-2 col-6" src="../../../assets/Auspiciantes/Fondo oscuro/APFDigital.png">
        <img class="img col-md-2 col-6" src="../../../assets/Auspiciantes/Fondo oscuro/Emimor Bus.png">
        <img class="img col-md-1 col-6" src="../../../assets/Auspiciantes/Fondo oscuro/JB Diseños.png">
        <img class="img col-md-2 col-6" src="../../../assets/Auspiciantes/Fondo oscuro/l'elite.png">
        <img class="img col-md-1 col-6" src="../../../assets/Auspiciantes/Fondo oscuro/La Capital.png">
        <img class="img col-md-2 offset-md-0 col-6 offset-3 " src="../../../assets/Auspiciantes/Fondo oscuro/Zanahoria & Plaza.png">
    </div>

    <div class="row">
        <div class="col-md-6 col-s-12 text-center">
            <a class="btn btn-info" (click)="getReglamentoPDF()">
                DESCARGAR REGLAMENTO
            </a>
        </div>
        <div class="col-md-6 col-s-12 text-center">
            <a class="btn btn-info" (click)="getListaBuenaFePDF()">
                DESCARGAR LISTA DE BUENA FE
            </a>
        </div>
    </div>

    
<div>
    <img class="col-md-4 col-4" src="../../../assets/escudos/Aguilas.jpeg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Ascd River.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Belgrano.png">
    <img class="col-md-4 col-4" src="../../../assets/escudos/boca de tigre.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Cañadita.png">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Club Atletico Pilar.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Club Neuquen.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Cosmo FC.jpeg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Diamantino.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Don Bosco.png">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Esc Ruso y Late.jpeg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/escuela boca.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Ferro de Rafaela.jpeg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Filial River Parana.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Litoral Maria Grande.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Ministerio.png">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Moreno.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Naranjitos.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Palermo.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Peñarol.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/San Martin de Diamante.jpeg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Sarmiento de Crespo.png">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Sarmiento de Humbolt.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Taladro.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Union de Crespo.jpg">
    <img class="col-md-4 col-4" src="../../../assets/escudos/Union de Santa Fe.jpg">
</div> 