.div-header {
    padding-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}

.div-body {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
}

.ausp{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
}

.img{
    height: 50px;
    margin-bottom: 5px;
}

.btn-info{
    margin-bottom: 5px;
}

.simple-text {
    font-family: 'aaargh', Helvetica, sans-serif;
    font-size: 30px;
}