.div-header{
    border-style: solid;
    border-color: #ffffff;
    padding-top: 20px;
    margin-bottom: 20px;
}

.p-categories {
    border: #ffffff;
    border-style: dotted;
    padding-top: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.pdf-link {
    font-size: medium;
    font-weight: bold;
}

.black-font {
    color: black;
}

.add-padding {
    padding-top: 10px;
    padding-bottom: 50px;
}