.div-header {
    padding-top: 20px;
    margin-bottom: 25px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}

.p-title{
    margin-bottom: 15px;
}

.div-body {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    padding-top: 10px;
}

.ausp{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.img{
    height: 50px;
    margin-bottom: 5px;
}

.btn-info{
    margin-bottom: 5px;
}

/*Modal CSS*/
.modal-content{
    background-color: #86c038ff;
}

.modal-body{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-body table{
    color: #ffffff;
}

.modal-header{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    border: none;
}

.modal-footer{
    border: none;
}

.btn-cancel{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    border: none;
}

.btn-accept{
    font-family: 'poppins', sans-serif;
    border: none;
    color:  #86c038ff;
}