<div class="publicity col-md-12">

    <div class="row">
        <div class="col-md-12">
            <img style="width: 100%; " src="../../../assets/LosMorenitos.jpeg" />    
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img style="width: 100%; " src="../../../assets/morenitos_22.jpg" />    
        </div>
    </div>

    <div class="row add-padding">
        <div class="col-md-6 col-s-12 text-center">
            <a class="btn btn-info" (click)="getReglamentoPDF()">
               DESCARGAR REGLAMENTO
            </a>
        </div>
        <div class="col-md-6 col-s-12 text-center">
            <a class="btn btn-info" (click)="getListaBuenaFePDF()">
                DESCARGAR LISTA DE BUENA FE
            </a>
        </div>
    </div>
</div>
