.btn-add-team {
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    background-color: #2087b3;
    margin-top: 20px;
}

.btn-add-cat {
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    background-color: #2087b3;
    margin-top: 20px;
}

/*
.div-style {
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 3%;
}
*/

.ul-style {
    padding-left: 5px;
    padding-right: 5px;
}

.ul-style a {
    color: rgb(214, 214, 214);
    font-family: 'poppins', sans-serif;
}

.h2-style {
    padding: 25px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
}

.modal-content{
    background-color: #299bcc;
}

.modal-body{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-header{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
}