<div class="col-md-8 offset-md-2 col-sm-12 div-style">
    <h2 class="h2-style col-md-4 offset-md-4 col-sm-12 ">Categorias</h2>
    <ul class="ul-style row" *ngFor="let category of categories">

        <a [routerLink]="['/futbol/group/',category?.id]"
            class="col-8 list-group-item list-group-item-action text-center">
            <p>Categoria {{category?.name}}</p>
        </a>

        <button class="col-2 btn-edit btn " [routerLink]="['/futbol/add/category/', category.id]">
            <img src="../../../assets/edit_icon_32.png">
        </button>

        <button class="col-2 btn-delete btn " *ngIf="hasAdminPermission()" data-toggle="modal" data-target="#deleteModal">
            <img src="../../../assets/trash_icon_32.png" alt="">
        </button>


        

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Eliminar Categoria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Esta seguro de eliminar esta categoria?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" (click)="delete(category.id)">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>


<!--<button class="offset-md-4 col-md-4" [routerLink]="['/futbol/login']">Login</button>-->

<div *ngIf="hasAdminPermission()">
    <button class="btn-add-cat btn col-md-8 offset-md-2 col-sm-12" [routerLink]="['/futbol/add/category']">Agregar Categoria</button>
    <button class="btn-add-team btn col-md-8 offset-md-2 col-sm-12" [routerLink]="['/futbol/add/team']">Agregar Equipo</button>
</div>