.btn-add-team {
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    background-color: #2087b3;
    margin-top: 20px;
}

.btn-add-cat {
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    /*background-color: #2087b3;*/
    margin-top: 20px;
    background-color: #063758;
}

/*CATEGORY LIST CSS*/
.ul-style {
    padding-left: 5px;
    padding-right: 5px;
}

.ul-style a {
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    background: rgb(37, 171, 48);
}

.h2-style {
    padding: 25px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: 'poppins', sans-serif;

    border: #ffffff;
    border-style: solid;
    border-top: springgreen;

    padding: 20px;
    margin-bottom: 35px;
}

/*Modal CSS*/
.modal-content{
    background-color: rgb(0, 156, 11);
}

.modal-body{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-header{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    border: none;
}
.modal-footer{
    border: none;
}

