/* You can add global styles to this file, and also import other style files */

body, html {
    background-size: cover;
    height: 100%;
    overflow: auto ;
    background-image: url('assets/bck.png');
}

@font-face {
    font-family: 'aaargh';
    src: url('../src/assets/fonts/aaargh/aaargh.ttf') format('truetype');
  }

  @font-face {
    font-family: 'schkorycza';
    src: url('../src/assets/fonts/schkorycza/schkorycza.otf');
  }

