/* You can add global styles to this file, and also import other style files */

body, html {
    background-size: cover;
    height: 100%;
    overflow: auto ;
    background-image: url('assets/bck.png');
}

