.navbar{
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'poppins', sans-serif;
    display: flex;
    padding: 50px;
}

/*navbar brand logo*/
.navbar-brand{
    color: rgb(243, 243, 243);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}

/*nav-links*/
.navbar-nav{
    justify-content: space-around;
    font-size: 18px;
}

.navbar-nav .nav-link{
    color: rgb(243, 243, 243);
    letter-spacing: 3px;
    padding: 0px 20px;
}

.navbar-nav li a:hover{
    color:rgb(15, 15, 15)
}

.navbar-toggler{
    border: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.navbar-toggler:hover{
    background-color: rgba(37,134,179,0);
}
