<nav class="navbar navbar-expand-lg navbar-light navbar-toggleable-md">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/icono-pelota.jpg" width="30" height="30" alt="Logo Torneo">
      Morenitos
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active"><a class="nav-link" routerLink="futbol/category"
            routerlinkActive="active">Categoria</a></li>
        <li class="nav-item active"><a class="nav-link" routerLink="futbol/filter" routerlinkActive="active">Filtro</a>
        </li>
        <li class="nav-item active"><a class="nav-link" routerLink="futbol/fixture"
            routerlinkActive="active">Fixture</a>
        </li>
      </ul>
    </div>
  </div>
</nav>